button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: darkcyan;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
